/*
	UTILITY STYLES
*/

.floatLeft {
    float: left;
    margin-right: 10px;
}

.floatRight {
    float: right;
}

#page-wrap {
    width: 500px;
    margin: 25px auto;
    position: relative;
    min-height: 500px;
    background: url(../Images/bg.png) top center;
}

/*
	SLIDER
*/
.slider-wrap {
    width: 419px;
    position: absolute;
    top: 87px;
    left: 40px;
}

.stripViewer .panelContainer
.panel ul {
    text-align: left;
    margin: 0 15px 0 30px;
}

.stripViewer {
    position: relative;
    overflow: hidden;
    width: 467px;
    margin-left: -23px;
    height: 364px;
    margin-bottom: 18px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.stripViewer .panelContainer {
    position: relative;
    left: 0;
    top: 0;
}

.stripViewer .panelContainer .panel {
    float: left;
    height: 100%;
    position: relative;
    width: 471px;
    margin-left: -2px;
}

.stripNavL, .stripNavR, .stripNav {
    display: none;
}

.nav-thumb {
    border: 1px solid white;
    margin-right: 19px;
}

#movers-row {
    margin: 2px 0 0 -5px;
    width: 500px;
}

#movers-row div {
    width: 90px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
#movers-row div a {
    border: none;
}

#movers-row div a.cross-link {
    float: right;
}

.photo-meta-data {
    background: url(../Images/transpBlack.png);
    padding: 10px;
    height: 30px;
    margin-top: -50px;
    position: relative;
    z-index: 9999;
    color: white;
}

.photo-meta-data span {
    font-size: 13px;
}

.cross-link {
    display: block;
    margin-top: -14px;
    position: relative;
    padding-top: 15px;
    z-index: 9999;
}

.active-thumb img{
    border-color: #ff650e!important;
}



