/*

	Stylesheet for Fork NG

	Media:      screen, projection
	Copyright:  Netlash <http://www.netlash.com>
	authors:    Johan Ronsse <johan@netlash.com>
	            Yoni De Beule <yoni@netlash.com>
*/

@import url("imports/typography.css");
@import url("imports/structure.css");

	/* Core modules */
	@import url("imports/dashboard.css");
	@import url("imports/core_modules.css");

	/* UI core */
	@import url("imports/ui_constructs.css");
	@import url("imports/buttons.css");
	@import url("imports/tags.css");
	@import url("imports/balloon.css");
	@import url("imports/tooltip.css");

	/* Messaging system */
	@import url("imports/forms.css");
		@import url("imports/messaging.css");
		@import url("imports/autocomplete.css");
		@import url("imports/password_strength.css");

	/* DataGrid related */
	@import url("imports/datagrid.css");
	@import url("imports/datafilter.css");

	/* Standalone */
	@import url("imports/general_purpose_classes.css");
	@import url("imports/clearfix.css");
	@import url("imports/avatars.css");
	@import url("imports/wizard.css");

	/* Misc */
	@import url("imports/misc.css");

	/* Editor related */
	@import url("imports/editor.css");

.brokerTabFeedback {

}
.brokersTabHide{
    /* displai:none;*/
}
.feedbackDeleteLink {
    float: right!important;
}

.tabrow {
    text-align: center;
    list-style: none;
    margin: 0px 0 -37px;
    padding: 0;
    line-height: 35px;
    height: 37px;
    overflow: hidden;
    font-size: 12px;
    font-family: arial;
    position: relative;
}

.tabrow li {
    border: 1px solid #AAA;
    background: #D1D1D1;
    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    display: inline-block;
    position:relative;
    z-index: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 30px;
}

.tabrow a {
    color: #555;
    text-decoration: none;
}

.tabrow li.selected {
    background: #FFF;
    color: #333;
    z-index: 2;
    border-top-color: #FFF;
}

.tabrow:before {
    position: absolute;
    content: " ";
    width: 100%;
    top: 0;
    left: 0;
    border-top: 1px solid #AAA;
    z-index: 1;
}

.tabrow li:before,
.tabrow li:after {
    border: 1px solid #AAA;
    position: absolute;
    top: -1px;
    width: 6px;
    height: 6px;
    content: " ";
}

.tabrow li:before  {
    left: -7px;
    border-top-right-radius: 6px;
    border-width: 1px 1px 0px 0px;
    box-shadow: 2px 0px 0 #ECECEC;
}

.tabrow li:after {
    right: -7px;
    border-top-left-radius: 6px;
    border-width: 1px 0px 0px 1px;
    box-shadow: -2px 0px 0 #ECECEC;
}

.tabrow li.selected:before {
    box-shadow: 2px 0px 0 #FFF;
}

.tabrow li.selected:after {
    box-shadow: -2px 0px 0 #FFF;
}