@media screen and (min-width: 1201px){
  .filter22{ width: 22% }
  .filter54{ width: 54% }
  .searchFilterMore{
    .plot{
      .filterLabel{ left: -5px }
    }
  }
}
@media screen and (max-width: 999999px){
  .searchFilterMore{
    .filterLabel{
      position: relative;
      font-size: 13px;
    }
    .flat{
      .filterPrice,
      .filterLabel{
        padding-right: 0;
        padding-left: 5px!important;
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .main-menu{ left: 30px }
  .main {
    width: 64%;
    left: 330px;
  }
  .menu-buttons li,
  .menu-buttons li ul li a{
    transition: all 0.3s ease;
    &:hover{ transition: all 0.2s ease; }
  }
  .brokerInnerFeedback{
    width: 94%;
    margin-left: 3%;
    margin-top: 0;
  }
  .brokerInnerImage { margin-left: 5px }
  .brokerInnerContact{ margin-left: 22px }
  .brokerInnerItems, .objectsItemsDiv{
    font-size: 0;
    .brokerInnerItem, .houseInnerItem{
      display: inline-block;
      float: none!important;
      vertical-align: top;
    }
    .objectsListItem, .objectsListImage{
      width: 100%!important;
      height: auto!important;
    }
    .objectsListItemHover{
      display: none;
      visibility: hidden;
    }
    .price{ margin-bottom: 10px }
  }
  .bd.content{
    > table{
      td{
        img{
          max-width: 100%;
          height: auto!important;
        }
        iframe{ width: 100%!important }
      }
    }
  }
  .descriptionBlock{ margin-right: -15px }
  .infoBox{
    width: auto;
    margin-left: 10px;
  }
  .infoBoxResult{ text-align: left }
  .brokerBlock{
    width: auto;
    margin-left: 10px;
  }
  .objectsFilter .filter54{ margin-top: 10px }
  .searchFilterMore .plot {
    padding-right: 10px;
    padding-left: 4px;
  }
  .features{
    padding-left: 0!important;
    .featuresHeader{ padding-left: 15px!important }
    .featuresInner{ text-align: left }
  }
  .contacts-page{
    .contact-photo{
      img{
        width: 100%!important;
        height: auto!important;
      }
    }
  }
  .karjera{
    .photo{
      width: 40%;
      img{
        width: 100%!important;
        height: auto!important;
      }
    }
    .broker-letter{ width: 60% }
  }
}
@media screen and (max-width: 992px){
  .main-menu{
    left: 15px;
    width: 260px;
    .main-menu-inner{ margin-left: 20px }
  }
  .main {
    width: 61%;
    left: 290px;
    .content{ padding: 25px 3% }
  }
  .bd.content {
    > table {
      td {
        img[src="/src/Frontend/Files/userfiles/images/mapsas-creston.png"] {
          //display: none!important;
        }
      }
    }
  }
  .stripViewer{ width: 440px }
  #movers-row{
    margin-left: 2px;
    div{ width: 83px }
  }
  .descriptionBlock { margin-right: 0 }
  .infoBox, .brokerBlock{
    margin-right: 15px;
  }
  .searchFilterMore{
    .plot {
      padding-right: 10px;
      padding-left: 0;
    }
    .flat{
      padding-right: 0!important;
      padding-left: 15px;
    }
    > div > div > div{ padding-right: 0 }
    .filterLabel{ padding-left: 8px }
    .filterReason + div, .filterReason + div + div,
    .filterArea + div, .filterArea + div + div,
    .filterFloor + div, .filterFloor + div + div{
      margin-top: 10px;
    }
  }
  .contacts-page{
    .contact-photo{ display: block }
    .google-map{
      display: block;
      iframe{ width: 100%!important }
    }
  }
}

//keyframes media reikia daryti su device min ratio
@media screen and (max-width: 767px){
  .main-menu{
    height: auto;
    left: 0;
    position: relative;
    width: 100%;
  }
  .main-menu-inner {
    margin-left: 5%;
    width: 90%;
  }
  .main{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    .content{ padding: 25px 5% }
  }
  .mainTitle h1{
    margin-left: 5%;
    font-size: 25px;
  }
  .brokerInnerName{ font-size: 22px }
  .objectsFilter .formRegion{ margin-top: 10px }
}
@media screen and (max-width: 479px){
  .header-image{
    margin-left: -85px;
    position: absolute;
    left: 50%;
  }
  .brokerPhoto{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    img{ width: 100% }
  }
  .brokersNameText{
    height: 45px;
    overflow: hidden;
    font-size: 12px;
    line-height: 15px;
  }
  .mainTitle h1{ font-size: 22px }
  .feedbackButtonPlace{
    float: none;
    margin: 20px 30px;
    a, a:hover{
      display: inline-block!important;
      width: auto!important;
    }
  }
  .stripViewer{
    width: 280px;
    height: 212px;
    .panelContainer{
      .panel{
        width: 282px;
        .objectPhoto{
          width: 100%;
          height: auto;
        }
      }
    }
  }
  #movers-row{
    margin-left: -4px;
    width: 320px;
    div{ width: 90px }
  }
  .descriptionBlock { margin-right: 0 }
  .infoBox, .brokerBlock{
    margin-right: 15px;
  }
  .karjera{
    .photo{
      width: 100%;
      display: block;
      img{
        width: 100%!important;
        height: auto!important;
      }
    }
    .broker-letter{
      display: block;
      width: 100%;
    }
  }
}