@media screen and (min-width: 768px){
    .cb-slideshow,
    .cb-slideshow:after {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .cb-slideshow:after { content: '' }
    .cb-slideshow li span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
        opacity: 0;
        z-index: 0;
        -webkit-backface-visibility: hidden;
        -webkit-animation: imageAnimation 62s linear infinite 0s;
        -moz-animation: imageAnimation 62s linear infinite 0s;
        -o-animation: imageAnimation 62s linear infinite 0s;
        -ms-animation: imageAnimation 62s linear infinite 0s;
        animation: imageAnimation 62s linear infinite 0s;
    }
    .cb-slideshow li div {
        z-index: 1000;
        position: absolute;
        bottom: 40%;
        left: 0;
        width: 115%;
        text-align: center;
        opacity: 0;
        color: #fff;
        -webkit-animation: titleAnimation 62s linear infinite 0s;
        -moz-animation: titleAnimation 62s linear infinite 0s;
        -o-animation: titleAnimation 62s linear infinite 0s;
        -ms-animation: titleAnimation 62s linear infinite 0s;
        animation: titleAnimation 62s linear infinite 0s;
    }
    .cb-slideshow li div h3 {
        font-family: 'Roboto Slab', serif;
        font-size: 26px;
        width: 620px;
        margin-left: 600px;
        height: 0;
        position: absolute;
        top: 130px;
        text-shadow: 2px 2px #555555;
        transition: all 0.3s ease;
    }
    .cb-slideshow li:nth-child(1) span {
        background-image: url(../images/1.jpg)
    }
    .cb-slideshow li:nth-child(2) span {
        background-image: url(../images/2.jpg);
        -webkit-animation-delay: 12s;
        -moz-animation-delay: 12s;
        -o-animation-delay: 12s;
        -ms-animation-delay: 12s;
        animation-delay: 12s;
    }
    .cb-slideshow li:nth-child(3) span {
        background-image: url(../images/1.jpg);
        -webkit-animation-delay: 24s;
        -moz-animation-delay: 24s;
        -o-animation-delay: 24s;
        -ms-animation-delay: 24s;
        animation-delay: 24s;
    }
    .cb-slideshow li:nth-child(4) span {
        background-image: url(../images/2.jpg);
        -webkit-animation-delay: 36s;
        -moz-animation-delay: 36s;
        -o-animation-delay: 36s;
        -ms-animation-delay: 36s;
        animation-delay: 36s;
    }
    .cb-slideshow li:nth-child(5) span {
        background-image: url(../images/1.jpg);
        -webkit-animation-delay: 48s;
        -moz-animation-delay: 48s;
        -o-animation-delay: 48s;
        -ms-animation-delay: 48s;
        animation-delay: 48s;
    }
    .cb-slideshow li:nth-child(6) span {
        background-image: url(../images/2.jpg);
        -webkit-animation-delay: 60s;
        -moz-animation-delay: 60s;
        -o-animation-delay: 60s;
        -ms-animation-delay: 6s;
        animation-delay: 60s;
    }
    .cb-slideshow li:nth-child(2) div {
        -webkit-animation-delay: 12s;
        -moz-animation-delay: 12s;
        -o-animation-delay: 12s;
        -ms-animation-delay: 12s;
        animation-delay: 12s;
    }
    .cb-slideshow li:nth-child(3) div {
        -webkit-animation-delay: 24s;
        -moz-animation-delay: 24s;
        -o-animation-delay: 24s;
        -ms-animation-delay: 24s;
        animation-delay: 24s;
    }
    .cb-slideshow li:nth-child(4) div {
        -webkit-animation-delay: 36s;
        -moz-animation-delay: 36s;
        -o-animation-delay: 36s;
        -ms-animation-delay: 36s;
        animation-delay: 36s;
    }
    .cb-slideshow li:nth-child(5) div {
        -webkit-animation-delay: 48s;
        -moz-animation-delay: 48s;
        -o-animation-delay: 48s;
        -ms-animation-delay: 48s;
        animation-delay: 48s;
    }
    .cb-slideshow li:nth-child(6) div {
        -webkit-animation-delay: 60s;
        -moz-animation-delay: 60s;
        -o-animation-delay: 60s;
        -ms-animation-delay: 60s;
        animation-delay: 60s;
    }
    //Animation for the slideshow images
    @-webkit-keyframes imageAnimation {
        0% { opacity: 0;
            -moz-animation-timing-function: ease-in; }
        2% { opacity: 1}
        13% { opacity: 1;
            -moz-animation-timing-function: ease-out; }
        15% { opacity: 0;}
        100% { opacity: 0 }
    }
    @-moz-keyframes imageAnimation {
        0% { opacity: 0;
            -moz-animation-timing-function: ease-in; }
        2% { opacity: 1}
        13% { opacity: 1;
            -moz-animation-timing-function: ease-out; }
        15% { opacity: 0;}
        100% { opacity: 0 }
    }
    @-o-keyframes imageAnimation {
        0% { opacity: 0;
            -moz-animation-timing-function: ease-in; }
        2% { opacity: 1}
        13% { opacity: 1;
            -moz-animation-timing-function: ease-out; }
        15% { opacity: 0;}
        100% { opacity: 0 }
    }
    @-ms-keyframes imageAnimation {
        0% { opacity: 0;
            -moz-animation-timing-function: ease-in; }
        2% { opacity: 1}
        13% { opacity: 1;
            -moz-animation-timing-function: ease-out; }
        15% { opacity: 0;}
        100% { opacity: 0 }
    }
    @keyframes imageAnimation {
        0% { opacity: 0;
            -moz-animation-timing-function: ease-in; }
        2% { opacity: 1}
        13% { opacity: 1;
            -moz-animation-timing-function: ease-out; }
        15% { opacity: 0;}
        100% { opacity: 0 }
    }
    //Animation for the title
    @-webkit-keyframes titleAnimation {
        0% { opacity: 0 }
        8% { opacity: 1 }
        17% { opacity: 1 }
        19% { opacity: 0 }
        100% { opacity: 0 }
    }
    @-moz-keyframes titleAnimation {
        0% { opacity: 0 }
        8% { opacity: 1 }
        17% { opacity: 1 }
        19% { opacity: 0 }
        100% { opacity: 0 }
    }
    @-o-keyframes titleAnimation {
        0% { opacity: 0 }
        8% { opacity: 1 }
        17% { opacity: 1 }
        19% { opacity: 0 }
        100% { opacity: 0 }
    }
    @-ms-keyframes titleAnimation {
        0% { opacity: 0 }
        8% { opacity: 1 }
        17% { opacity: 1 }
        19% { opacity: 0 }
        100% { opacity: 0 }
    }
    @keyframes titleAnimation {
        0% { opacity: 0 }
        8% { opacity: 1 }
        17% { opacity: 1 }
        19% { opacity: 0 }
        100% { opacity: 0 }
    }
    //Show at least something when animations not supported
    .no-cssanimations .cb-slideshow li span{ opacity: 1 }
}
@media screen and (max-width: 1400px){
    .cb-slideshow li div h3 {
        font-size: 22px;
        width: 40%;
        margin-left: 30%;
    }
}
@media screen and (max-width: 1200px){
    .cb-slideshow li div h3 {
        width: 50%;
        margin-left: 25%;
    }
}
@media screen and (max-width: 900px){
    .cb-slideshow li div h3 {
        font-size: 20px;
        width: 65%;
        margin-left: 15%;
    }
}
@media screen and (max-width: 767px){
    .cb-slideshow{
        display: none;
        visibility: hidden;
    }
}