.fl {
  float: left; }

.fr {
  float: right; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.vam {
  vertical-align: middle; }

.mt10 {
  margin-top: 10px; }

.ml10 {
  margin-left: 10px; }

.ml0 {
  margin-left: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.p0 {
  padding: 0 !important; }

.cp {
  cursor: pointer; }

@media screen and (min-width: 768px) {
  .cb-slideshow,
  .cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; }

  .cb-slideshow:after {
    content: ""; }

  .cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 62s linear infinite 0s;
    -moz-animation: imageAnimation 62s linear infinite 0s;
    -o-animation: imageAnimation 62s linear infinite 0s;
    -ms-animation: imageAnimation 62s linear infinite 0s;
    animation: imageAnimation 62s linear infinite 0s; }

  .cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 40%;
    left: 0;
    width: 115%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 62s linear infinite 0s;
    -moz-animation: titleAnimation 62s linear infinite 0s;
    -o-animation: titleAnimation 62s linear infinite 0s;
    -ms-animation: titleAnimation 62s linear infinite 0s;
    animation: titleAnimation 62s linear infinite 0s; }

  .cb-slideshow li div h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    width: 620px;
    margin-left: 600px;
    height: 0;
    position: absolute;
    top: 130px;
    text-shadow: 2px 2px #555555;
    transition: all 0.3s ease; }

  .cb-slideshow li:nth-child(1) span {
    background-image: url(../images/1.jpg); }

  .cb-slideshow li:nth-child(2) span {
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; }

  .cb-slideshow li:nth-child(3) span {
    background-image: url(../images/1.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; }

  .cb-slideshow li:nth-child(4) span {
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s; }

  .cb-slideshow li:nth-child(5) span {
    background-image: url(../images/1.jpg);
    -webkit-animation-delay: 48s;
    -moz-animation-delay: 48s;
    -o-animation-delay: 48s;
    -ms-animation-delay: 48s;
    animation-delay: 48s; }

  .cb-slideshow li:nth-child(6) span {
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 60s;
    -moz-animation-delay: 60s;
    -o-animation-delay: 60s;
    -ms-animation-delay: 6s;
    animation-delay: 60s; }

  .cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; }

  .cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; }

  .cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s; }

  .cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 48s;
    -moz-animation-delay: 48s;
    -o-animation-delay: 48s;
    -ms-animation-delay: 48s;
    animation-delay: 48s; }

  .cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 60s;
    -moz-animation-delay: 60s;
    -o-animation-delay: 60s;
    -ms-animation-delay: 60s;
    animation-delay: 60s; }

  @-webkit-keyframes imageAnimation {
    0% {
      opacity: 0;
      -moz-animation-timing-function: ease-in; }
    2% {
      opacity: 1; }
    13% {
      opacity: 1;
      -moz-animation-timing-function: ease-out; }
    15% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  @-moz-keyframes imageAnimation {
    0% {
      opacity: 0;
      -moz-animation-timing-function: ease-in; }
    2% {
      opacity: 1; }
    13% {
      opacity: 1;
      -moz-animation-timing-function: ease-out; }
    15% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  @-o-keyframes imageAnimation {
    0% {
      opacity: 0;
      -moz-animation-timing-function: ease-in; }
    2% {
      opacity: 1; }
    13% {
      opacity: 1;
      -moz-animation-timing-function: ease-out; }
    15% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  @-ms-keyframes imageAnimation {
    0% {
      opacity: 0;
      -moz-animation-timing-function: ease-in; }
    2% {
      opacity: 1; }
    13% {
      opacity: 1;
      -moz-animation-timing-function: ease-out; }
    15% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  @keyframes imageAnimation {
    0% {
      opacity: 0;
      -moz-animation-timing-function: ease-in; }
    2% {
      opacity: 1; }
    13% {
      opacity: 1;
      -moz-animation-timing-function: ease-out; }
    15% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  @-webkit-keyframes titleAnimation {
    0% {
      opacity: 0; }
    8% {
      opacity: 1; }
    17% {
      opacity: 1; }
    19% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  @-moz-keyframes titleAnimation {
    0% {
      opacity: 0; }
    8% {
      opacity: 1; }
    17% {
      opacity: 1; }
    19% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  @-o-keyframes titleAnimation {
    0% {
      opacity: 0; }
    8% {
      opacity: 1; }
    17% {
      opacity: 1; }
    19% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  @-ms-keyframes titleAnimation {
    0% {
      opacity: 0; }
    8% {
      opacity: 1; }
    17% {
      opacity: 1; }
    19% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  @keyframes titleAnimation {
    0% {
      opacity: 0; }
    8% {
      opacity: 1; }
    17% {
      opacity: 1; }
    19% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  .no-cssanimations .cb-slideshow li span {
    opacity: 1; } }
@media screen and (max-width: 1400px) {
  .cb-slideshow li div h3 {
    font-size: 22px;
    width: 40%;
    margin-left: 30%; } }
@media screen and (max-width: 1200px) {
  .cb-slideshow li div h3 {
    width: 50%;
    margin-left: 25%; } }
@media screen and (max-width: 900px) {
  .cb-slideshow li div h3 {
    font-size: 20px;
    width: 65%;
    margin-left: 15%; } }
@media screen and (max-width: 767px) {
  .cb-slideshow {
    display: none;
    visibility: hidden; } }
.main-menu {
  width: 272px;
  position: fixed;
  left: 45px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.25);
  height: 100%; }

.main-menu-inner {
  width: 220px;
  margin-left: 26px; }

.header-logo {
  height: 130px;
  /*background-color: #fff;*/
  /*opacity: 0.25;*/ }

.menu-buttons li {
  margin-bottom: 3px;
  background-color: #282828;
  opacity: 0.91;
  cursor: pointer; }

.menu-buttons li a {
  cursor: pointer; }

.menu-buttons li ul {
  display: none; }

.menu-buttons li ul li {
  background-color: rgba(146, 65, 26, 0.9);
  height: 30px;
  margin-top: -3px; }

.menu-buttons li ul li:hover {
  background-color: rgba(146, 65, 26, 0.9) !important; }

.menu-buttons li ul li:first-child {
  -moz-box-shadow: inset 0 4px 6px -2px rgba(113, 46, 17, 0.46);
  -webkit-box-shadow: inset 0 4px 6px -2px rgba(113, 46, 17, 0.46);
  box-shadow: inset 0 4px 6px -2px rgba(113, 46, 17, 0.46); }

.menu-buttons li ul li:before {
  background: none !important; }

.menu-buttons li ul li a:before {
  background: none !important; }

.menu-buttons li ul li a {
  color: #fff;
  line-height: 28px;
  font-size: 10px;
  text-transform: none; }

.menu-buttons li ul li:first-letter {
  text-transform: uppercase; }

.menu-buttons li ul li a:hover {
  color: #562f23; }

.menu-buttons li ul li:hover {
  color: #fff; }

.menu-buttons li:hover {
  background-color: #d76830; }

.menu-buttons li ul li:hover {
  background-color: #3E3E3E; }

.selected a:before {
  content: "";
  display: block;
  background: url("../images/menububle.png") no-repeat;
  width: 35px;
  height: 10px;
  float: left;
  margin: 20px -34px 0 -28px; }

.menu-buttons li:hover:before {
  content: "";
  display: block;
  background: url("../images/menububle2hover.png") no-repeat;
  width: 35px;
  height: 10px;
  float: left;
  margin: 20px -34px 0 27px; }

.menu-buttons li:before {
  content: "";
  display: block;
  background: url("../images/menububle2.png") no-repeat;
  width: 35px;
  height: 10px;
  float: left;
  margin: 20px -34px 0 27px; }

.header-image {
  margin-top: 15px;
  margin-left: 25px;
  position: absolute;
  z-index: 10; }

.menu-buttons a {
  font-family: 'Roboto Slab', serif;
  color: #fff;
  border: none;
  line-height: 45px;
  margin-left: 28px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  z-index: 100; }

.searchMenu {
  height: 45px;
  background-color: #4f045f;
  margin-top: -7px; }

.searchMenu li {
  cursor: pointer; }

.searchMenuImg {
  margin-top: -68px;
  margin-left: 20px; }

.selected:hover a {
  color: #fff; }

.searchMenu a {
  font-family: 'Roboto Slab', serif;
  color: #fff;
  border: none;
  line-height: 45px;
  margin-left: 42px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none; }

.socialMedia {
  padding-top: 30px;
  height: 80px;
  margin-bottom: 15px;
  background-color: #282828;
  opacity: 0.91;
  padding-left: 35px; }

.socialMediaImage {
  border: none;
  background-repeat: no-repeat;
  width: 25px;
  height: 20px;
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px; }

.socialMediaTwitter {
  background-image: url("../images/twitterwhite.png"); }

.socialMediaTwitter:hover {
  background-image: url("../images/twitterred.png"); }

.socialMediaFacebook {
  background-image: url("../images/facebookwhite.png"); }

.socialMediaFacebook:hover {
  background-image: url("../images/facebookred.png"); }

.socialMediaIn {
  background-image: url("../images/inwhite.png"); }

.socialMediaIn:hover {
  background-image: url("../images/inred.png"); }

.socialMediaPin {
  background-image: url("../images/pinwhite.png"); }

.socialMediaPin:hover {
  background-image: url("../images/pinred.png"); }

.main {
  width: 865px;
  position: absolute;
  top: -10px;
  left: 355px;
  z-index: 2; }

#main header {
  padding-bottom: 15px;
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-bottom: 2px solid #d76830; }

.content p {
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  color: #131313;
  padding: 10px;
  line-height: 18px;
  font-weight: 300; }

.mainTitle h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  margin-left: 25px;
  text-transform: uppercase;
  font-weight: 300; }

.content {
  padding: 25px; }

.mod {
  background-color: rgba(255, 255, 255, 0.87); }

.selected a {
  color: #d76830; }

.infoBox {
  background-color: #fff;
  padding: 12px;
  width: 39%;
  padding-bottom: 33px;
  min-height: 546px; }

.infoBoxResult {
  text-align: right;
  padding-left: 0; }

.infoBoxResult div {
  height: 28px;
  color: #464646;
  margin-top: 12px;
  font-weight: 100;
  font-size: 13px;
  border-bottom: 1px solid #fcfafa; }

.infoBoxResult div:last-child {
  border: none; }

.infoBoxWhoIsWho div {
  height: 28px;
  color: #464646;
  margin-top: 12px;
  font-size: 13px;
  border-bottom: 1px solid #fcfafa; }

.infoBoxWhoIsWho div:last-child {
  border: none; }

.brokerBlock {
  background-color: #fff;
  width: 39%;
  margin-top: 35px; }

.descriptionBlock {
  margin-top: 20px;
  background-color: #fff;
  padding: 12px;
  line-height: 18px;
  font-family: 'Roboto Slab', regular;
  font-size: 12px;
  margin-left: -22px;
  margin-right: 21px; }

.objectsListItem {
  width: 248px;
  background-color: #fff;
  height: 235px;
  position: relative;
  display: inline-block;
  cursor: pointer; }

.objectPhotoSlider {
  margin-left: 17px; }

.brokerDescriptionBlock {
  margin-left: -5px;
  width: 61%;
  margin-top: 15px; }

.objectsListItem a {
  border: none; }

.objectsListItem:hover .objectsListItemHover {
  display: block; }

.objectsListItemHover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(118, 2, 195, 0.5);
  height: 185px; }

.objectsListItemHover img {
  margin-left: 95px;
  margin-top: 90px; }

.dotsImage {
  width: 45px !important;
  margin-left: 68px;
  margin-top: 90px;
  opacity: 1 !important; }

.brokersNameStatus {
  text-align: center;
  height: 0px;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase; }

.brokersNameStatusSmall {
  position: absolute;
  margin-top: 15px;
  width: 46px;
  background-color: #CD6D00;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px 3px 3px 6px; }

.objectsListImage {
  width: 248px;
  height: 185px; }

.street {
  color: #464646;
  font-size: 13px;
  margin-top: 6px;
  font-weight: 300;
  padding-right: 0;
}

.mrgb15 {
  margin-bottom: 25px; }

.objectBrokerBlock {
  cursor: pointer; }

.objectBrokerName {
  font-family: 'Roboto Slab', regular;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 33px; }

.objectBrokerPhone {
  font-family: 'Roboto Slab', regular;
  font-size: 14px;
  text-align: center; }

.objectBrokerEmail {
  font-family: 'Roboto Slab', regular;
  font-size: 13px;
  text-align: center;
  color: #520066;
  margin-bottom: 33px; }

.objectBrokerPhoto {
  margin-top: 13px;
  margin-bottom: 5px; }

.objectBrokerPhoto img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: -5px; }

.price {
  color: #d76830 !important; }

.pricePlus {
  float: right;
  margin-top: 15px;
  font-size: 13px; }

.brokerPhoto {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 300px;
  width: 177px; }

.brokerPhoto img {
  width: 177px; }

.brokerPhoto:hover img {
  opacity: .7; }

.brokerPhoto:hover .brokersName {
  display: block; }

.brokerPhoto:hover .brokersInfo {
  display: block; }

.brokerPhoto:hover .brokersNameStatusSmall {
  display: none; }

.brokersName {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(118, 2, 195, 0.5);
  height: 240px; }

.brokersNameText {
  margin-top: 10px;
  text-align: center;
  color: #282828;
  font-size: 14px;
  font-family: 'Roboto Slab', regular;
  text-transform: uppercase; }

.brokersInfo {
  display: none;
  position: absolute;
  left: 0;
  bottom: 60px;
  right: 0;
  background-color: #282828;
  height: 53px;
  color: #fff;
  text-align: center; }

.brokersInfoInner {
  margin-top: 9px;
  font-family: 'Roboto Slab', regular;
  font-size: 12px; }

.brokerInnerBlock {
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 5px; }

.brokerInnerBlock img {
  margin-bottom: 20px; }

.brokerInnerImage {
  margin-top: -50px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin-left: 25px; }

.objectsFilter {
  background-color: rgba(206, 206, 206, 0.62);
  margin-bottom: 12px;
  margin-top: -25px;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 20px;
  padding-bottom: 20px; }

.brokerInnerName {
  font-family: 'Roboto Slab', regular;
  font-size: 28px;
  line-height: 32px; }

.brokerInnerPhone {
  font-size: 14px; }

.phoneImg {
  background: url("../images/phone.png") no-repeat;
  width: 15px;
  height: 15px; }

.brokerInnerEmail {
  margin-top: 10px; }

.brokerInnerEmail a {
  font-size: 14px;
  color: #d76830;
  border: none; }

.emailImg {
  background: url("../images/email.png") no-repeat;
  width: 19px;
  height: 13px; }

.brokerInnerDescription {
  font-size: 12px;
  font-family: 'Roboto Slab', light; }

.brokerInnerContact {
  margin-left: 42px;
  margin-top: 30px; }

.brokersHeader {
  font-size: 14px;
  font-family: 'Roboto Slab', regular;
  font-weight: 600;
  margin-left: 15px;
  margin-bottom: 20px; }

.goBack {
  float: right;
  margin-top: -30px;
  margin-right: 25px; }

.goBack a {
  color: #fff;
  border: none; }

.paddingZero {
  padding: 0; }
  @media screen and (max-width: 1200px) {
    .paddingZero {
      padding: 0 15px; } }

.thatFancyTitle {
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 17px;
  margin-top: 5px; }

.thatFancyTitle .category {
  color: #520066; }

.panel:hover .hugeImage {
  display: block; }

.hugeImage {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(118, 2, 195, 0.5);
  height: 100%; }
  .hugeImage img {
    margin-top: 135px;
    margin-left: 179px; }
  @media screen and (max-width: 480px) {
    .hugeImage {
      display: none;
      visibility: hidden; }
      .hugeImage a {
        display: none;
        visibility: hidden; } }

.feedBackHeader {
  font-family: 'Roboto Slab', regular;
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px; }

.feedsBack {
  margin-left: 30px; }

.brokerInnerFeedback {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 774px;
  margin-left: 22px; }

.brokerInnerFeedback a {
  color: #fff; }

.feedbackButtonPlace {
  float: right;
  margin-top: -40px; }

.feedbackButton {
  background-color: #d76830;
  border-color: #d76830; }

.feedbackButton:hover {
  background-color: #d76830;
  border-color: #BA5C2D; }

.feedbackButton:active {
  background-color: #d76830;
  border-color: #BA5C2D; }

.feedbackButton:focus {
  background-color: #d76830;
  border-color: #BA5C2D; }

.feedBackDate {
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  color: #868686; }

.feedBackName {
  display: inline-block; }

.filterLabel {
  padding: 0;
  margin-top: 6px;
  white-space: nowrap; }

.filterRoomsDiv > div {
  padding: 0;
  padding-right: 5px; }

.filterRooms {
  padding-top: 10px !important; }

.filterPrice {
  padding-top: 10px !important;
  padding-left: 10px !important; }

.filterFloor {
  padding-left: 10px !important; }

.searchFilterMore > div {
  padding: 0; }

.searchFilterMore > div > div > div {
  padding: 0;
  padding-right: 5px; }

.features {
  padding-left: 10px;
  padding-right: 0px;
  margin-top: 30px; }
  .features > div {
    margin-left: 0 !important;
    margin-right: 0 !important; }

.featuresInner {
  color: #464646;
  font-weight: 100;
  font-size: 13px;
  padding-right: 0px;
  text-align: right;
  margin-top: 12px;
  border-bottom: 1px solid #fcfafa;
  height: 28px; }

.featuresHeader {
  height: 28px;
  color: #464646;
  margin-top: 12px;
  font-size: 13px;
  text-align: left;
  padding-left: 5px; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/page-loader.gif") 50% 50% no-repeat #f9f9f9; }

@media screen and (min-width: 1201px) {
  .filter22 {
    width: 22%; }

  .filter54 {
    width: 54%; }

  .searchFilterMore .plot .filterLabel {
    left: -5px; } }
@media screen and (max-width: 999999px) {
  .searchFilterMore .filterLabel {
    position: relative;
    font-size: 13px; }
  .searchFilterMore .flat .filterPrice,
  .searchFilterMore .flat .filterLabel {
    padding-right: 0;
    padding-left: 5px !important; } }
@media screen and (max-width: 1200px) {
  .main-menu {
    left: 30px; }

  .main {
    width: 64%;
    left: 330px; }

  .menu-buttons li,
  .menu-buttons li ul li a {
    transition: all 0.3s ease; }
    .menu-buttons li:hover,
    .menu-buttons li ul li a:hover {
      transition: all 0.2s ease; }

  .brokerInnerFeedback {
    width: 94%;
    margin-left: 3%;
    margin-top: 0; }

  .brokerInnerImage {
    margin-left: 5px; }

  .brokerInnerContact {
    margin-left: 22px; }

  .brokerInnerItems, .objectsItemsDiv {
    font-size: 0; }
    .brokerInnerItems .brokerInnerItem, .brokerInnerItems .houseInnerItem, .objectsItemsDiv .brokerInnerItem, .objectsItemsDiv .houseInnerItem {
      display: inline-block;
      float: none !important;
      vertical-align: top; }
    .brokerInnerItems .objectsListItem, .brokerInnerItems .objectsListImage, .objectsItemsDiv .objectsListItem, .objectsItemsDiv .objectsListImage {
      width: 100% !important;
      height: auto !important; }
    .brokerInnerItems .objectsListItemHover, .objectsItemsDiv .objectsListItemHover {
      display: none;
      visibility: hidden; }
    .brokerInnerItems .price, .objectsItemsDiv .price {
      margin-bottom: 10px; }

  .bd.content > table td img {
    max-width: 100%;
    height: auto !important; }
  .bd.content > table td iframe {
    width: 100% !important; }

  .descriptionBlock {
    margin-right: -15px; }

  .infoBox {
    width: auto;
    margin-left: 10px; }

  .infoBoxResult {
    text-align: left; }

  .brokerBlock {
    width: auto;
    margin-left: 10px; }

  .objectsFilter .filter54 {
    margin-top: 10px; }

  .searchFilterMore .plot {
    padding-right: 10px;
    padding-left: 4px; }

  .features {
    padding-left: 0 !important; }
    .features .featuresHeader {
      padding-left: 15px !important; }
    .features .featuresInner {
      text-align: left; }

  .contacts-page .contact-photo img {
    width: 100% !important;
    height: auto !important; }

  .karjera .photo {
    width: 40%; }
    .karjera .photo img {
      width: 100% !important;
      height: auto !important; }
  .karjera .broker-letter {
    width: 60%; } }
@media screen and (max-width: 992px) {
  .main-menu {
    left: 15px;
    width: 260px; }
    .main-menu .main-menu-inner {
      margin-left: 20px; }

  .main {
    width: 61%;
    left: 290px; }
    .main .content {
      padding: 25px 3%; }

  .stripViewer {
    width: 440px; }

  #movers-row {
    margin-left: 2px; }
    #movers-row div {
      width: 83px; }

  .descriptionBlock {
    margin-right: 0; }

  .infoBox, .brokerBlock {
    margin-right: 15px; }

  .searchFilterMore .plot {
    padding-right: 10px;
    padding-left: 0; }
  .searchFilterMore .flat {
    padding-right: 0 !important;
    padding-left: 15px; }
  .searchFilterMore > div > div > div {
    padding-right: 0; }
  .searchFilterMore .filterLabel {
    padding-left: 8px; }
  .searchFilterMore .filterReason + div, .searchFilterMore .filterReason + div + div,
  .searchFilterMore .filterArea + div, .searchFilterMore .filterArea + div + div,
  .searchFilterMore .filterFloor + div, .searchFilterMore .filterFloor + div + div {
    margin-top: 10px; }

  .contacts-page .contact-photo {
    display: block; }
  .contacts-page .google-map {
    display: block; }
    .contacts-page .google-map iframe {
      width: 100% !important; } }
@media screen and (max-width: 767px) {
  .main-menu {
    height: auto;
    left: 0;
    position: relative;
    width: 100%; }

  .main-menu-inner {
    margin-left: 5%;
    width: 90%; }

  .main {
    width: 100%;
    position: relative;
    top: 0;
    left: 0; }
    .main .content {
      padding: 25px 5%; }

  .mainTitle h1 {
    margin-left: 5%;
    font-size: 25px; }

  .brokerInnerName {
    font-size: 22px; }

  .objectsFilter .formRegion {
    margin-top: 10px; } }
@media screen and (max-width: 479px) {
  .header-image {
    margin-left: -85px;
    position: absolute;
    left: 50%; }

  .brokerPhoto {
    width: 100%;
    height: auto;
    margin-bottom: 5px; }
    .brokerPhoto img {
      width: 100%; }

  .brokersNameText {
    height: 45px;
    overflow: hidden;
    font-size: 12px;
    line-height: 15px; }

  .mainTitle h1 {
    font-size: 22px; }

  .feedbackButtonPlace {
    float: none;
    margin: 20px 30px; }
    .feedbackButtonPlace a, .feedbackButtonPlace a:hover {
      display: inline-block !important;
      width: auto !important; }

  .stripViewer {
    width: 280px;
    height: 212px; }
    .stripViewer .panelContainer .panel {
      width: 282px; }
      .stripViewer .panelContainer .panel .objectPhoto {
        width: 100%;
        height: auto; }

  #movers-row {
    margin-left: -4px;
    width: 320px; }
    #movers-row div {
      width: 90px; }

  .descriptionBlock {
    margin-right: 0; }

  .infoBox, .brokerBlock {
    margin-right: 15px; }

  .karjera .photo {
    width: 100%;
    display: block; }
    .karjera .photo img {
      width: 100% !important;
      height: auto !important; }
  .karjera .broker-letter {
    display: block;
    width: 100%; } }

/*# sourceMappingURL=custom.css.map */
