/*

	Stylesheet for King Triton

	Media: screen, projection
	Author: Yoni De Beule

*/

article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }
body, form, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address { margin: 0; padding: 0; }
ol, ul { list-style: none; }
img { border: 0; }
fieldset { margin: 0; padding: 0; border: 0; }
input, select, textarea { font-size: 100%; vertical-align: middle; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; }
th { text-align: left; }
a:focus { overflow: hidden; }

body {
    font-family: 'Roboto Slab', regular;
	color: #000;
	background: #fff;
    -webkit-font-smoothing: antialiased;
}


/*
	Typography and text styles
*/

p {
	padding-bottom: 12px;
}

strong,
th,
thead td {
	font-weight: 700;
}

/* Default titles */

h1,
h2,
h3,
h4 {
	font-family: 'Qlassik bold', Helvetica, Arial, sans-serif;
	line-height: 1;
	font-weight: 300;
	color: #1c4f6f;
}

	h1 a,
	h2 a,
	h3 a,
	h4 a {
		border: 0;
	}

h1 {
	font-size: 42px;
	padding: 0 0 12px 0;
}

h2 {
	font-size: 42px;
	padding: 0 0 12px 0;
}

h3 {
	font-size: 30px;
	padding: 0 0 8px 0;
}

h4 {
	font-size: 20px;
	padding: 0 0 2px 0;
}

/* Links */

a {
	text-decoration: none;
	color: #d76830;
}

a:link {
	// border-color: #b6d5e9;
	// color: #2081bb;
}

a:visited {
//	border-color: #b4d0e0;
	color: #d76830;
}

a:hover,
a:active,
a:focus {
	//border-color: #ef4d03;
	color: #d76830;
}

/* Defaults */

.content ul,
.content ol {
	padding: 0 0 12px 20px;
}

.content ul {
	list-style: circle;
	font-size: 13px;
	line-height: 18px;
	color: #0b0b0b;
	font-weight: 300;
}

.content ol {
	list-style-type: decimal;
}

.content ul ul,
.content ol ul,
.content ol ol {
	padding-bottom: 0;
}

.content ol ol {
	list-style: upper-roman;
}

.content ol ol ol {
	list-style: lower-roman;
}

small {
	font-size: 11px;
}

em {
	font-style: italic;
}

table {
	border-top: 1px solid #d8d8d8;
	width: 100%;
	margin-bottom: 24px;
	vertical-align: top;
}

td, th {
	border-bottom: 1px solid #d8d8d8;
	padding: 4px;
	vertical-align: top;
}

th {
	font-weight: 700;
	background: #fff;
}

/* Image classes */

img.alignLeft {
	float: left;
	padding-right: 10px;
}

img.alignRight {
	float: right;
	padding-left: 20px;
	padding-bottom: 15px;
}

p.floatedImage {
	padding-bottom: 0;
}

a.linkedImage {
	border: 0;
}

/*
	Page structure and layout
*/

.container {
	width: 940px;
	margin: 0 auto;
}

/*
	Header
*/

#header {
	height: 191px;
	background: url(../images/background.png) repeat-x top center;
}

#header .container {
	position: relative;
}

#header:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 #header, .ie7 #header { zoom: 1; }

	/* Logo */

	#logo h1,
	#logo h2 {
		line-height: 1;
		font-size: 48px;
		text-shadow: #011c3f 0 2px;
		position: absolute;
		top: 30px;
		left: 0;
		z-index: 10;
	}

		#logo h1 a,
		#logo h2 a {
			color: #fff;
		}

			#logo h1 a:link,
			#logo h1 a:visited,
			#logo h2 a:link,
			#logo h2 a:visited {
				color: #fff;
			}

			#logo h1 a:hover,
			#logo h1 a:active,
			#logo h1 a:focus,
			#logo h2 a:hover,
			#logo h2 a:active,
			#logo h2 a:focus {
				color: #fff;
			}

	/* Skip link */

	#skip,
	.accessibility {
		position: absolute;
		top: -9999px;
		left: -9999px;
		text-indent: -9999px;
	}

	/* Header navigation */

	#headerNavigation h4 {
		position: absolute;
		top: -9999px;
		left: -9999px;
		text-indent: -9999px;
	}

	#headerNavigation ul {
		position: absolute;
		top: 100px;
		left: 0;
		z-index: 20;
		width: 930px;
		height: 50px;
		padding: 0 5px;
		overflow: hidden;
		background: #1e4f70;
		background: -moz-linear-gradient(top, rgba(4, 28, 62, 0.33) 0%, rgba(0, 0, 0, 0.33) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4, 28, 62, 0.33)), color-stop(100%,rgba(0, 0, 0, 0.33)));
	}

		#headerNavigation li {
			float: left;
		}

			#headerNavigation li a {
				float: left;
				color: #b7d5e9;
				font-size: 16px;
				font-weight: 700;
				line-height: 1.25;
				border: 0;
				padding: 15px;
				text-shadow: rgba(0, 0, 0, 0.33) 0 1px;
			}

			#headerNavigation li a:link,
			#headerNavigation li a:visited {
				color: #b7d5e9;
			}

			#headerNavigation li a:hover,
			#headerNavigation li a:active,
			#headerNavigation li a:focus {
				color: #fff;
			}

			#headerNavigation li.selected a {
				color: #fff;
			}

			#headerNavigation li.selected a:link,
			#headerNavigation li.selected a:visited {
				color: #fff;
			}

			#headerNavigation li.selected a:hover,
			#headerNavigation li.selected a:active,
			#headerNavigation li.selected a:focus {
				color: #fff;
			}

	/* Header language */

	#headerLanguage h4 {
		position: absolute;
		top: -9999px;
		left: -9999px;
		text-indent: -9999px;
	}

	#headerLanguage ul {
		position: absolute;
		top: 100px;
		right: 0;
		z-index: 30;
		padding: 0 10px 0 0;
	}

		#headerLanguage li {
			float: left;
			padding: 13px 0 13px 4px;
		}

			#headerLanguage li a {
				float: left;
				font-size: 11px;
				line-height: 1.636;
				padding: 3px 6px;
				border: 0;
				text-transform: uppercase;
				color: #b7d5e9;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
			}

			#headerLanguage li a:link,
			#headerLanguage li a:visited {
				color: #b7d5e9;
			}

			#headerLanguage li a:hover,
			#headerLanguage li a:active,
			#headerLanguage li a:focus {
				color: #fff;
			}

			#headerLanguage li.selected a {
				padding: 2px 5px;
				border: 1px solid #0f2b3d;
				color: #fff;
				background: #0f2b3d;
				background: -moz-linear-gradient(top, #0f2b3d 0%, #153c55 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f2b3d), color-stop(100%,#153c55));
			}

			#headerLanguage li.selected a:link,
			#headerLanguage li.selected a:visited {
				color: #fff;
			}

			#headerLanguage li.selected a:hover,
			#headerLanguage li.selected a:active,
			#headerLanguage li.selected a:focus {
				color: #fff;
			}

	/* Header search */

	#headerSearch h4 {
		position: absolute;
		top: -9999px;
		left: -9999px;
		text-indent: -9999px;
	}

	#headerSearch form {
		position: absolute;
		top: 150px;
		right: 0;
		z-index: 50;
		padding: 8px 10px 0 0;
	}

		#headerSearch * {
			float: left;
		}

	/* Breadcrumb */

	#breadcrumb h4 {
		position: absolute;
		top: -9999px;
		left: -9999px;
		text-indent: -9999px;
	}

	#breadcrumb p {
		position: absolute;
		top: 150px;
		left: 0;
		z-index: 40;
		width: 898px;
		padding: 11px 20px;
		color: #999;
		font-size: 11px;
		line-height: 1.636;
		background: #fff;
		border-right: 1px solid #d8d8d8;
		border-bottom: 1px solid #d8d8d8;
		border-left: 1px solid #d8d8d8;
	}

	/* Ads */

	#headerAd h4 {
		position: absolute;
		top: -9999px;
		left: -9999px;
		text-indent: -9999px;
	}

	#headerAd p {
		position: absolute;
		top: 20px;
		right: 0;
		width: 468px;
		height: 60px;
		overflow: hidden;
	}

		#headerAd a {
			border: 0;
		}

/*
	Content
*/

#main:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 #main, .ie7 #main { zoom: 1; }

	/* General module */

	#main .mod,
	#main section,
	#main article {
		margin-bottom: 10px;
	}

	section:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 section, .ie7 section { zoom: 1; }

		#main .mod .mod,
		#main section section,
		#main article article,
		#main .mod section,
		#main .mod article,
		#main section .mod,
		#main section article,
		#main article .mod,
		#main article section {
			padding: 0;
		}

		header:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		.ie6 header, .ie7 header { zoom: 1; }


				#main header h1,
				#main header h2,
				#main header h3,
				#main header h4 {
					padding-bottom: 0;
				}

				#main header p,
				#main header ul {
					font-size: 11px;
					padding: 2px 0 0 0;
					color: #666;
				}

				#main header ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
				.ie6 #main header ul, .ie7 #main header ul { zoom: 1; }

					#main header li {
						float: left;
						padding-right: 10px;
					}

		.bd:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		.ie6 .bd, .ie7 .bd { zoom: 1; }

		.ft:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		.ie6 .ft, .ie7 .ft { zoom: 1; }

			#main footer p,
			#main footer ul {
				font-size: 11px;
				padding: 2px 0 0 0;
				color: #666;
			}

			#main footer ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
			.ie6 #main footer ul, .ie7 #main footer ul { zoom: 1; }

				#main footer li {
					float: left;
					padding-right: 10px;
				}

	/* White module */

	#main .whiteMod .inner {
		background: #fff;
		border: 1px solid #d8d8d8;
		padding: 20px 20px 10px 20px;
	}

	/* Side navigation */

	.sideNavigation:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .sideNavigation, .ie7 .sideNavigation { zoom: 1; }

		.sideNavigation h4 {
			position: absolute;
			top: -9999px;
			left: -9999px;
			text-indent: -9999px;
		}

		.sideNavigation ul {
			padding-bottom: 22px;
		}

		.sideNavigation li {
			overflow: hidden;
			margin: 0;
		}

			.sideNavigation li a {
				display: block;
				font-size: 13px;
				font-weight: 700;
				line-height: 1.538;
				padding: 9px 10px 9px 20px;
				border: 1px solid #d8d8d8;
				border-bottom: 0;
				background: #fff;
				color: #1d5174;
			}

			.col .sideNavigation li a { width: 28px; }
			.col-2 .sideNavigation li a { width: 108px; }
			.col-3 .sideNavigation li a { width: 188px; }
			.col-4 .sideNavigation li a { width: 268px; }
			.col-5 .sideNavigation li a { width: 348px; }
			.col-6 .sideNavigation li a { width: 428px; }
			.col-7 .sideNavigation li a { width: 508px; }
			.col-8 .sideNavigation li a { width: 588px; }
			.col-9 .sideNavigation li a { width: 668px; }
			.col-10 .sideNavigation li a { width: 748px; }
			.col-11 .sideNavigation li a { width: 828px; }
			.col-12 .sideNavigation li a { width: 908px; }

			.sideNavigation li a:link,
			.sideNavigation li a:visited {
				border-color: #d8d8d8;
				color: #2081bb;
			}

			.sideNavigation li a:hover,
			.sideNavigation li a:active,
			.sideNavigation li a:focus {
				border-color: #d8d8d8;
				color: #ef4d03;
			}

			.sideNavigation li:last-child a {
				border-bottom: 1px solid #d8d8d8;
			}

			.sideNavigation li.selected a {
				border-color: #2081bb;
				background: #2081bb;
				background: -moz-linear-gradient(top, #54a2ce 0%, #2081bb 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54a2ce), color-stop(100%,#2081bb));
				color: #fff;
			}

			.sideNavigation li.selected a:link,
			.sideNavigation li.selected a:visited {
				border-color: #2081bb;
				color: #fff;
			}

			.sideNavigation li.selected a:hover,
			.sideNavigation li.selected a:active,
			.sideNavigation li.selected a:focus {
				border-color: #2081bb;
				color: #fff;
			}

				.sideNavigation li.selected ul {
					background: #1c4f6f;
					padding: 8px 0;
				}

					.sideNavigation li.selected li a {
						background: transparent;
						color: #b7d5e9;
						font-size: 11px;
						line-height: 1.636;
						font-weight: 300;
						padding: 2px 10px 2px 20px;
						border: 0;
					}

					.col .sideNavigation li.selected li a { width: 30px; }
					.col-2 .sideNavigation li.selected li a { width: 110px; }
					.col-3 .sideNavigation li.selected li a { width: 190px; }
					.col-4 .sideNavigation li.selected li a { width: 270px; }
					.col-5 .sideNavigation li.selected li a { width: 350px; }
					.col-6 .sideNavigation li.selected li a { width: 430px; }
					.col-7 .sideNavigation li.selected li a { width: 510px; }
					.col-8 .sideNavigation li.selected li a { width: 590px; }
					.col-9 .sideNavigation li.selected li a { width: 670px; }
					.col-10 .sideNavigation li.selected li a { width: 750px; }
					.col-11 .sideNavigation li.selected li a { width: 830px; }
					.col-12 .sideNavigation li.selected li a { width: 910px; }

					.sideNavigation li.selected li a:link,
					.sideNavigation li.selected li a:visited {
						color: #b7d5e9;
					}

					.sideNavigation li.selected li a:hover,
					.sideNavigation li.selected li a:active,
					.sideNavigation li.selected li a:focus {
						color: #fff;
					}

					.sideNavigation li.selected li.selected a {
						color: #fff;
					}

					.sideNavigation li.selected li.selected a:link,
					.sideNavigation li.selected li.selected a:visited {
						color: #fff;
					}

					.sideNavigation li.selected li.selected a:hover,
					.sideNavigation li.selected li.selected a:active,
					.sideNavigation li.selected li.selected a:focus {
						color: #fff;
					}

						.sideNavigation li.selected li.selected ul {
							padding: 0;
						}

							.sideNavigation li.selected li.selected li a {
								padding: 2px 10px 2px 40px;
								color: #b7d5e9;
							}

							.sideNavigation li.selected li.selected li a:link,
							.sideNavigation li.selected li.selected li a:visited {
								color: #b7d5e9;
							}

							.sideNavigation li.selected li.selected li a:hover,
							.sideNavigation li.selected li.selected li a:active,
							.sideNavigation li.selected li.selected li a:focus {
								color: #fff;
							}

							.sideNavigation li.selected li.selected li.selected a {
								color: #fff;
							}

							.sideNavigation li.selected li.selected li.selected a:link,
							.sideNavigation li.selected li.selected li.selected a:visited {
								color: #fff;
							}

							.sideNavigation li.selected li.selected li.selected a:hover,
							.sideNavigation li.selected li.selected li.selected a:active,
							.sideNavigation li.selected li.selected li.selected a:focus {
								color: #fff;
							}

								.sideNavigation li.selected li.selected li.selected ul {
									padding: 0;
								}

									.sideNavigation li.selected li.selected li.selected li a {
										padding: 2px 10px 2px 60px;
										color: #b7d5e9;
									}

									.sideNavigation li.selected li.selected li.selected li a:link,
									.sideNavigation li.selected li.selected li.selected li a:visited {
										color: #b7d5e9;
									}

									.sideNavigation li.selected li.selected li.selected li a:hover,
									.sideNavigation li.selected li.selected li.selected li a:active,
									.sideNavigation li.selected li.selected li.selected li a:focus {
										color: #fff;
									}

									.sideNavigation li.selected li.selected li.selected li.selected a {
										color: #fff;
									}

									.sideNavigation li.selected li.selected li.selected li.selected a:link,
									.sideNavigation li.selected li.selected li.selected li.selected a:visited {
										color: #fff;
									}

									.sideNavigation li.selected li.selected li.selected li.selected a:hover,
									.sideNavigation li.selected li.selected li.selected li.selected a:active,
									.sideNavigation li.selected li.selected li.selected li.selected a:focus {
										color: #fff;
									}

	/* Blog */

	#main .pageNavigation {
		font-size: 11px;
		background: #fff;
		padding: 10px;
		margin-bottom: 12px;
		border: 1px solid #ddd;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

	.pageNavigation:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .pageNavigation, .ie7 .pageNavigation { zoom: 1; }

		.pageNavigation .previousLink {
			float: left !important;
			width: 48%;
			text-align: left;
		}

		.pageNavigation .nextLink {
			float: right !important;
			width: 48%;
			text-align: right;
		}

	.comment {
		border-bottom: 1px solid #ddd;
		margin-bottom: 12px;
	}

	.comment:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .comment, .ie7 .comment { zoom: 1; }

		.comment .imageHolder {
			float: left;
			padding: 0 12px 10px 0;
			width: 48px;
			height: 48px;
		}

			.comment .imageHolder a {
				border: 0;
				width: 48px;
				height: 48px;
			}

		.comment .commentContent {
			float: left;
		}

		.col-2 .comment .commentContent { width: 80px; }
		.col-3 .comment .commentContent { width: 160px; }
		.col-4 .comment .commentContent { width: 240px; }
		.col-5 .comment .commentContent { width: 320px; }
		.col-6 .comment .commentContent { width: 400px; }
		.col-7 .comment .commentContent { width: 480px; }
		.col-8 .comment .commentContent { width: 560px; }
		.col-9 .comment .commentContent { width: 640px; }
		.col-10 .comment .commentContent { width: 720px; }
		.col-11 .comment .commentContent { width: 800px; }
		.col-12 .comment .commentContent { width: 880px; }

	/* Pagination */

	#main .pagination {
		width: 100%;
		overflow: hidden;
		border: 0;
		padding-top: 20px;
	}

	.ie6 #main .pagination {
		width: auto;
	}

		.pagination header {
			position: absolute;
			top: -9999px;
			left: -9999px;
			text-indent: -9999px;
		}

		.pagination .bd {
			float: left;
			position: relative;
			left: 50%;
		}

		.ie6 .pagination .bd {
			position: static;
		}

			.pagination ul {
				padding: 0 0 12px 0;
				overflow: hidden;
				position: relative;
				left: -50%;
			}

			.ie6 .pagination ul {
				position: static;
			}

				.pagination li {
					float: left;
					margin: 0 4px 0 0;
					line-height: 15px;
					font-size: 12px;
					font-size: 11px;
					line-height: 1.636;
					text-align: center;
				}

				.pagination li.previousPage span,
				.pagination li.nextPage span {
					float: left;
					padding: 5px 8px;
					min-width: 12px;
					border: 1px solid #d8d8d8;
					background: #ebebeb;
					color: #666;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
				}

					.pagination li.currentPage span {
						float: left;
						padding: 5px 8px;
						min-width: 12px;
						border: 1px solid #d8d8d8;
						background: #ebebeb;
						font-weight: 700;
						-moz-border-radius: 3px;
						-webkit-border-radius: 3px;
						border-radius: 3px;
					}

					.pagination li.ellipsis span {
						float: left;
						padding: 6px 4px 4px 4px;
						min-width: 12px;
						color: #666;
					}

					.pagination li a:active {
						position: relative;
						top: 1px;
					}

					.pagination li a {
						float: left;
						padding: 5px 8px;
						min-width: 12px;
						border: 1px solid #d8d8d8;
						background: #fff;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						border-radius: 5px;
						-moz-background-clip: padding;
						-webkit-background-clip: padding-box;
						background-clip: padding-box;
					}

/*
	Footer
*/

	/* Sticky footer */

	html, body, #topWrapper {
		height: 100%;
	}

	body > #topWrapper {
		height: auto;
		min-height: 100%;
	}

	#bottomWrapper {
		position: relative;
		margin-top: -70px;
		height: 70px;
		clear: both;
		background: url(../images/background.png) repeat-x top center;
	}

	/* Footer */

	#footer .container {
		position: relative;
	}

		/* Logo */

		#footerLogo p {
			position: absolute;
			top: 30px;
			left: 0;
			padding: 11px 20px;
			width: 900px;
			height: 18px;
			overflow: hidden;
			font-size: 11px;
			line-height: 1.636;
			color: #fff;
			background: #1e4f70;
			background: -moz-linear-gradient(top, rgba(4, 28, 62, 0.33) 0%, rgba(0, 0, 0, 0.33) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4, 28, 62, 0.33)), color-stop(100%,rgba(0, 0, 0, 0.33)));
		}

			#footerLogo a {
				color: #b7d5e9;
				border: 0;
			}

			#footerLogo a:link,
			#footerLogo a:visited {
				color: #b7d5e9;
			}

			#footerLogo a:hover,
			#footerLogo a:active,
			#footerLogo a:focus {
				color: #fff;
			}

		/* Navigation */

		#footerNavigation h4 {
			position: absolute;
			top: -9999px;
			left: -9999px;
			text-indent: -9999px;
		}

		#footerNavigation ul {
			position: absolute;
			top: 30px;
			right: 10px;
			font-size: 11px;
			line-height: 1.636;
		}

			#footerNavigation li {
				float: left;
				padding: 11px 0 11px 20px;
			}

				#footerNavigation a {
					color: #b7d5e9;
					border: 0;
				}

				#footerNavigation a:link,
				#footerNavigation a:visited {
					color: #b7d5e9;
				}

				#footerNavigation a:hover,
				#footerNavigation a:active,
				#footerNavigation a:focus {
					color: #fff;
				}

/*
	Column system
*/

.col { width: 60px; padding-right: 20px; padding-bottom: 1px; float: left; overflow: hidden; }
.col-2 { width: 140px; }
.col-3 { width: 220px; }
.col-4 { width: 300px; }
.col-5 { width: 380px; }
.col-6 { width: 460px; }
.col-7 { width: 540px; }
.col-8 { width: 620px; }
.col-9 { width: 700px; }
.col-10 { width: 780px; }
.col-11 { width: 860px; }
.col-12 { width: 940px; }
.lastCol { padding-right: 0; }
.colOverflow { overflow: hidden; }

/*
	jQuery UI
*/

.ui-autocomplete {
	z-index: 999 !important;
}

/*
	Share
*/

.share {
	position: relative;
}

	.share ul.shareMenu {
		position: absolute;
		top: 14px;
		left: 0;
		z-index: 99999;
		background-color: #FFF;
	}

		.share ul.shareMenu li {
			float: none !important;
			padding: 3px 10px;
		}

/*
	Forms
*/

/* General fields and textareas */

input.inputText,
input.inputPassword,
input.inputSearch,
input.inputDate,
textarea {
	color: #666;
	border-color: #999 #bbb #bbb #bbb;
	border-style: solid;
	border-width: 1px;
	padding: 3px 4px;
	margin: 0;
	background-color: #fff;
	background-image: none;
	background-image: -moz-linear-gradient(0% 3px 90deg,#fff, #cecece);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 3, from(#cecece), to(#fff));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

textarea {
	line-height: 1.5;
}

input.inputText:focus,
input.inputPassword:focus,
input.inputSearch:focus,
input.inputDate:focus,
textarea:focus {
	background-color: #fff;
	background-image: none;
	background-image: -moz-linear-gradient(0% 3px 90deg,#fff, #dedede);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 3, from(#dedede), to(#fff));
	-webkit-box-shadow: 0 0 3px #c2deff;
	-moz-box-shadow: 0 0 3px #c2deff;
	box-shadow: 0 0 3px #c2deff;
	border-color: #82a7d4;
	color: #000;
	outline: none
}

input.inputText[disabled],
input.inputPassword[disabled],
input.inputSearch[disabled],
input.inputDate[disabled],
textarea[disabled] {
	color: #999;
	background-color: #f4f4f4;
	background-image: none;
	background-image: -moz-linear-gradient(0% 3px 90deg,#f4f4f4, #c4c4c4);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 3, from(#c4c4c4), to(#f4f4f4));
}

/* Selects */

select {
	margin-top: 2px;
}

	option {
		width: auto;
	}

/* Input lists */

.inputList {
	padding-bottom: 6px;
}

	.inputList li {
		padding-left: 24px;
		position: relative;
		padding-bottom: 6px;
	}

		.inputList input {
			position: absolute;
			top: 0;
			left: 0;
		}

		.ie6 .inputList input {
			left: -24px;
		}

		.inputList label {
			overflow: visible;
			height: auto;
			padding: 0;
		}

/* Fieldsets and legends */

.visibleFieldset {
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 12px 12px 0 12px;
	margin-bottom: 12px;
}

.visibleFieldset:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 .visibleFieldset, .ie7 .visibleFieldset { zoom: 1; }

	legend {
		font-weight: 700;
		color: #999;
	}

		.ie6 legend {
			margin-bottom: 10px;
		}

/* Paragraph */

form p { padding: 0 0 12px; }
form p:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 form p, .ie7 form p { zoom: 1; }

/* Labels */

label,
.label {
	display: block;
	padding-bottom: 2px;
	height: 18px;
	overflow: hidden;
}

/* Inline errors */

.errorArea input.inputText,
.errorArea input.inputPassword,
.errorArea input.inputSearch,
.errorArea input.inputDate,
.errorArea textarea {
	border: 1px solid #d00c00;
}

.errorArea label,
.errorArea .label {
	color: #d00c00;
}

.errorArea input.inputText:focus,
.errorArea input.inputPassword:focus,
.errorArea input.inputSearch:focus,
.errorArea input.inputDate:focus {
	-webkit-box-shadow: 0 0 3px #d00c00;
	-moz-box-shadow: 0 0 3px #d00c00;
	box-shadow: 0 0 3px #d00c00;
}

.errorArea .formError {
	font-size: 11px;
	line-height: 1.636;
	color: #d00c00;
	display: block;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	clear: left;
	text-overflow: ellipsis;
}

/* Help texts */

.helpTxt {
	font-size: 11px;
	line-height: 1.636;
	color: #999;
	display: block;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	clear: left;
	text-overflow: ellipsis
}

/* Form grid control */

	/* One-fourth width */

	.tinyInput input.inputText,
	.tinyInput input.inputPassword,
	.tinyInput input.tinyInput,
	.tinyInput input.inputDate {
		width: 16px;
	}

	.tinyInput select,
	.alignBlocks p.tinyInput,
	.alignFields p.tinyInput,
	.alignFields .tinyInput .helpTxt {
		width: 26px;
	}

	/* Half width */

	.smallInput input.inputText,
	.smallInput input.inputPassword,
	.smallInput input.inputSearch,
	.smallInput input.inputDate {
		width: 52px;
	}

	.smallInput select,
	.alignBlocks p.smallInput,
	.alignFields p.smallInput,
	.alignFields .smallInput .helpTxt {
		width: 62px;
	}

	/* Normal width */

	input.inputText,
	input.inputPassword,
	input.inputSearch,
	input.inputDate {
		width: 124px;
	}

	select,
	.alignBlocks p,
	.alignFields p,
	.alignFields p .helpTxt,
	.horizontal label,
	.horizontal .label,
	.horizontal .oneLiner :first-child label,
	.horizontal .oneLiner :first-child .label,
	.horizontal .oneLiner .firstChild label,
	.horizontal .oneLiner .firstChild .label {
		width: 134px;
	}

	/* Two-third width */

	.mediumInput input.inputText,
	.mediumInput input.inputPassword,
	.mediumInput input.inputSearch,
	.mediumInput input.inputDate {
		width: 196px;
	}

	.mediumInput select,
	.alignBlocks p.mediumInput,
	.alignFields p.mediumInput,
	.alignFields .mediumInput .helpTxt {
		width: 206px;
	}

	/* Double width */

	.bigInput input.inputText,
	.bigInput input.inputPassword,
	.bigInput input.inputSearch,
	.bigInput input.inputDate,
	textarea {
		width: 268px;
	}

	.bigInput select,
	.alignBlocks p.bigInput,
	.alignFields p.bigInput,
	.alignFields .bigInput .helpTxt {
		width: 278px;
	}

	/* Left padding (horizontal) */

	.horizontal .alignBlocks,
	.horizontal .alignFields,
	.horizontal .alignButtons,
	.horizontal .helpTxt,
	.horizontal .formError {
		padding-left: 134px; /* This value should be the same as the width value in "Normal width" */
	}

	/* Left margin (horizontal) */

	.horizontal input.inputSubmit,
	.horizontal input.inputButton,
	.horizontal button,
	.horizontal a.button {
		margin-left: 134px; /* This value should be the same as the width value in "Normal width" */
	}

	/* Maximum width for inputList (horizontal) */

	.horizontal .inputList li label {
		width: 278px; /* This value should be the same as the width value in "Double width" */
	}

/* Floating elements */

	/* Floating blocks */

	.alignBlocks {
		position: relative;
		left: -5px;
		padding-bottom: 12px;
	}

	.alignBlocks:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .alignBlocks, .ie7 .alignBlocks { zoom: 1; }

		.alignBlocks p {
			padding: 0 5px;
			overflow: hidden;
			float: left;
		}

	/* Floating fields */

	.alignFields {
		position: relative;
		padding-bottom: 12px;
	}

	.alignFields:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .alignFields, .ie7 .alignFields { zoom: 1; }

		.alignFields label {
			position: absolute;
			top: 0;
			left: 0;
		}

		.alignFields input,
		.alignFields select {
			float: left;
		}

		.ie6 .alignFields input,
		.ie6 .alignFields select,
		.ie7 .alignFields input,
		.ie7 .alignFields select {
			float: none;
		}

		.alignFields p {
			padding: 20px 12px 0 0;
			float: left;
		}

	/* Floating buttons */

	.alignButtons {
		padding-bottom: 12px;
	}

	.alignButtons:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .alignButtons, .ie7 .alignButtons { zoom: 1; }

		.alignButtons p {
			float: left;
			padding-right: 4px;
			padding-bottom: 0;
		}

/* OneLiners */

.oneLiner {
	padding-bottom: 12px;
}

.oneLiner:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 .oneLiner, .ie7 .oneLiner { zoom: 1; }

	.oneLiner p {
		float: left;
		padding: 0 6px 0 0;
	}

		.oneLiner label {
			float: left;
			padding-right: 6px;
		}

		.oneLiner input,
		.oneLiner select {
			float: left;
		}

	.oneLiner .inputList {
		padding-bottom: 0;
	}

	.ie6 .oneLiner .inputList input {
		left: 0;
	}

		.oneLiner .inputList li {
			float: left;
			padding-bottom: 0;
		}

/* Horizontal */

.horizontal label,
.horizontal .label {
	float: left;
}

	/* Floating blocks */

	.horizontal .alignBlocks .helpTxt,
	.horizontal .alignBlocks .formError {
		padding-left: 0;
	}

	/* Floating fields */

	.horizontal .alignFields .helpTxt,
	.horizontal .alignFields .formError {
		padding-left: 0;
	}

	.horizontal .alignFields p {
		padding-top: 0;
	}

		.horizontal .alignFields label {
			top: 2px;
		}

	/* Floating buttons */

	.horizontal .alignButtons input.inputSubmit,
	.horizontal .alignButtons input.inputButton,
	.horizontal .alignButtons button,
	.horizontal .alignButtons a.button,
	.horizontal .alignFields input.inputSubmit,
	.horizontal .alignFields input.inputButton,
	.horizontal .alignFields button,
	.horizontal .alignFields a.button,
	.horizontal .alignBlocks input.inputSubmit,
	.horizontal .alignBlocks input.inputButton,
	.horizontal .alignBlocks button,
	.horizontal .alignBlocks a.button {
		margin-left: 0;
	}

	/* InputLists */

	.horizontal .inputList:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .horizontal .inputList, .ie7 .horizontal .inputList { zoom: 1; }

	.horizontal .inputList ul {
		float: left;
	}

		.horizontal .inputList li label {
			float: none;
		}

	/* OneLiners */

	.horizontal .oneLiner label,
	.horizontal .oneLiner .label {
		width: auto;
		padding: 2px 6px 2px 0;
	}

		.horizontal .oneLiner :first-child label,
		.horizontal .oneLiner :first-child .label,
		.horizontal .oneLiner .firstChild label,
		.horizontal .oneLiner .firstChild .label {
			padding: 2px 0;
		}

		.horizontal .formSectionContent .oneLiner :first-child label,
		.horizontal .formSectionContent .oneLiner :first-child .label,
		.horizontal .formSectionContent .oneLiner .firstChild label,
		.horizontal .formSectionContent .oneLiner .firstChild .label {
			width: auto;
			padding: 2px 6px 2px 0;
		}

	.horizontal .oneLiner input.inputSubmit,
	.horizontal .oneLiner input.inputButton,
	.horizontal .oneLiner button,
	.horizontal .oneLiner a.button {
		margin-left: 0;
	}

	.horizontal .oneLiner .inputList {
		float: left;
	}

		.horizontal .oneLiner .inputList li label {
			width: auto;
		}

	/* Form sections */

	.formSection {
		padding: 0 0 8px 0;
	}

	.formSection:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 .formSection, .ie7 .formSection { zoom: 1; }

		.formSection p {
			padding-bottom: 2px;
		}

		.formSection .oneLiner p {
			padding-bottom: 0;
		}

	.horizontal .formSectionContent {
		padding-bottom: 4px;
		float: left;
	}

	.horizontal .formSectionContent .alignBlocks,
	.horizontal .formSectionContent .alignFields,
	.horizontal .formSectionContent .alignButtons,
	.horizontal .formSectionContent .helpTxt,
	.horizontal .formSectionContent .formError {
		padding-left: 0;
	}

/* Messages */

.message {
	padding: 12px 12px 0 12px;
	border: 1px solid #ddd;
	margin-bottom: 24px;
	border-color: #ddd;
	color: #333;
	background-color: #fff;
	background-image: none;
	background-image: -moz-linear-gradient(0% 100% 90deg,#fff, #f8f8f8);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#fff));
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

	.message .close:link,
	.message .close:visited {
		display: block;
		position: absolute;
		overflow: hidden;
		padding: 4px;
		top: 4px;
		right: 4px;
		height: 8px;
		width: 8px;
		border: 0;
		text-indent: -9999px;
		background: url(../images/close.png) no-repeat 4px 4px;

		opacity: .50;
		filter: alpha(opacity=50);
		-ms-filter: "alpha(opacity=50)";
		-khtml-opacity: .50;
		-moz-opacity: .50;
	}

	.message .close:hover,
	.message .close:active,
	.message .close:focus {
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-filter: "alpha(opacity=100)";
		-khtml-opacity: 1;
		-moz-opacity: 1;
	}

	/* Error messages */

	.error {
		border-color: #8b0800;
		color: #fae7e6;
		background-color: #d00c00;
		background-image: none;
		background-image: -moz-linear-gradient(0% 100% 90deg,#d00c00, #b80900);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b80900), to(#d00c00));
	}

	.error h1,
	.error h2,
	.error h3,
	.error h4 {
		color: #fff;
	}

		.error a {
			color: #fff;
			border-color: #df5c54;
		}

		.error a:link,
		.error a:visited {
			color: #fff;
			border-color: #df5c54;
		}

		.error a:hover,
		.error a:active,
		.error a:focus {
			color: #fff;
			border-color: #fff;
		}

	/* Success messages */

	.success {
		border-color: #4c721f;
		color: #f1f7eb;
		background-color: #72aa2e;
		background-image: none;
		background-image: -moz-linear-gradient(0% 100% 90deg,#72aa2e, #65a01c);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#65a01c), to(#72aa2e));
	}

	.success h1,
	.success h2,
	.success h3,
	.success h4 {
		color: #fff;
	}

		.success a {
			color: #fff;
			border-color: #a0c673;
		}

		.success a:link,
		.success a:visited {
			color: #fff;
			border-color: #a0c673;
		}

		.success a:hover,
		.success a:active,
		.success a:focus {
			color: #fff;
			border-color: #fff;
		}

	/* Notice messages */

	.notice {
		border-color: #e6901e;
		color: #332d1c;
		background-color: #ffe38a;
		background-image: none;
		background-image: -moz-linear-gradient(0% 100% 90deg,#ffe38a, #ffce58);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffce58), to(#ffe38a));
	}

	.notice h1,
	.notice h2,
	.notice h3,
	.notice h4 {
		color: #000;
	}

		.notice a {
			color: #000;
			border-color: #ab985d;
		}

		.notice a:link,
		.notice a:visited {
			color: #000;
			border-color: #ab985d;
		}

		.notice a:hover,
		.notice a:active,
		.notice a:focus {
			color: #000;
			border-color: #000;
		}

/* Buttons */

input.inputSubmit,
input.inputButton,
button,
a.button,
a.button:link,
a.button:visited {
	font: 700 11px/1.636 Arial, sans-serif;
	color: #fff;
	background: #2081bb;
	background: -moz-linear-gradient(top, #53a1ce 0%, #2081bb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#53a1ce), color-stop(100%,#2081bb));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53a1ce', endColorstr='#2081bb',GradientType=0 )chroma(color=#000000);
	border: 1px solid #366eac;
	padding: 3px;
	cursor: pointer;
	overflow: visible;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0;
}

button::-moz-focus-inner{ padding: 0; border: 0 }

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input.inputSubmit,
	input.inputButton,
	button {
		padding: 2px 3px;
	}
}

.ie6 input.inputSubmit,
.ie6 input.inputButton,
.ie6 button {
	margin-top: -1px;
	padding: 1px 3px;
}

.ie7 input.inputSubmit,
.ie7 input.inputButton,
.ie7 button {
	padding: 1px 3px 0 3px;
}

.ie8 input.inputSubmit,
.ie8 input.inputButton,
.ie8 button {
	padding: 2px 3px;
}

input.inputSubmit:hover,
input.inputButton:hover,
input.buttonHover,
button:hover,
button.buttonHover,
a.button:hover,
a.button:active,
a.button:focus {
	border-color: #f04f06;
	background: #f04f06;
	background: -moz-linear-gradient(top, #ff7c41 0%, #f04f06 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7c41), color-stop(100%,#f04f06));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c41', endColorstr='#f04f06',GradientType=0 )chroma(color=#000000);
}

input.inputSubmit[disabled="disabled"],
input.inputButton[disabled="disabled"],
button[disabled="disabled"],
a.disabledButton {
	cursor: default;
	opacity: .50;
	filter: alpha(opacity=50);
	-ms-filter: "alpha(opacity=50)";
	-khtml-opacity: .50;
	-moz-opacity: .50;
}

a.button,
a.button:link,
a.button:visited {
	float: left;
	text-decoration: none;
	padding: 2px 6px;
}

/*
	Fonts
*/

@font-face {
	font-family: 'Qlassik bold';
	src: url('../fonts/qlassikbold.eot');
	src: url('../fonts/qlassikbold.eot?iefix') format('eot'),
	     url('../fonts/qlassikbold.woff') format('woff'),
	     url('../fonts/qlassikbold.ttf') format('truetype'),
	     url('../fonts/qlassikbold.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
	Guillotine bug
*/

.guillotineBugFix { display: none; }
.ie6 .guillotineBugFix { clear: both; height: 0; font-size: 0; line-height: 0; display: block; }

/*
	Clearfix
*/

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 .clearfix, .ie7 .clearfix { zoom: 1; }

/*
	Print styles
*/

@media print {
	* {
		color: #000 !important;
		float: none;
		text-shadow: none;
	}

	div {
		background-color: white !important;
	}

	/* place the divs and elements you want to hide here */
	#skip, #headerNavigation, #headerLanguage, #headerSearch, #headerFocus, #footer, aside {
		display: none;
	}

	body {
		font-family: Arial, sans-serif;
		font-size: 12pt;
		background: #FFF;
		border: none;
	}

	p {
		padding: 0 0 20px 0;
	}

	ul, ol {
		padding: 0 0 20px 30px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
	}

	h1 {
		font-size: 20pt;
		padding: 0 0 10px 0;
	}

	h2 {
		font-size: 16pt;
		padding: 0 0 8px 0;
	}

	h3 {
		font-size: 14pt;
		padding: 0 0 6px 0;
	}

	h4 {
		font-size: 12pt;
		padding: 0 0 6px 0;
	}

	blockquote {
		padding-left: 2.5cm;
		font-style: italic;
	}

	table {
		font-family: Arial, sans-serif;
		margin: 0 10px 20px;
		border-top: 1px solid #D9D9D9;
		border-left: 1px solid #D9D9D9;
	}

	table td, th {
		padding: 5px 10px;
		border-right: 1px solid #D9D9D9;
		border-bottom: 1px solid #D9D9D9;
	}

	table th {
		font-weight: 700;
		background: #D9D9D9;
		color: #000;
	}
}

#cookieBar {
	padding: 8px 15px;
	background-color: #fcf8e3;
	width: 100%;
	color: #c09853;
}

.polaroid {
    border-left:10px solid white;
    border-right:10px solid white;
    border-top:10px solid white;
    border-bottom:40px solid white;
    margin-top:10px
}
.polaroid a{
    color: #d76830;
}